<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<display-name>PaginaConServlets</display-name>
<description> Taller de pagina jsp utilizando servlets para la clase programacion 2 </description>
<distributable/>
<servlet>
<servlet-name>Almacen</servlet-name>
<servlet-class>Almacen</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Almacen</servlet-name>
<url-pattern>/almacen</url-pattern>
</servlet-mapping>
</web-app>